/* Main Document */
html {
  font-size: 14px;
  background-image: url('../assets/backgrounds/Background-6.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #071427;
  font-family: clonewars;
  color: white;
  min-height: 100%;
}

@font-face {
  font-family: 'clonewars';
  src: url('../fonts/clonewars.ttf') format('truetype');
}

body {
  background-color: transparent;
  font-family: clonewars;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  color: #FFCC00;
}

a {
  color: #FFCC00;
}

a:hover {
  color: #ad6ceeff;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border: none;
  background-color: transparent;
}

/* Navbar */
.navbar-cwaemu {
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  padding-top: 0px;
  background-size: contain;
}

.navbar-cwaemu > .container {
  padding: 0;
  text-align: center;
}

.navbar-collapse {
  background-image: url('../assets/main layout/navbardropdown.png');
  background-repeat: repeat-y;
  background-size: contain;
  max-width: 430px;
}

.navbar-toggler {
  padding-top: 0;
  font-size: 1rem;
  border: 0px solid transparent;
  width: 100%;
  background-image: url('../assets/main layout/navbarbackgroundMobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-dropdown {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  list-style-type: none;
  box-sizing: border-box;
  width: 100%;
  max-height: 0px;
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
  padding: 0;
  text-transform: uppercase;
}

.nav-dropdown > li > a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.nav-item > input {
  display: none;
}

.nav-item > input:checked + .nav-dropdown {
  max-height: 200px;
}

/* Header */
.cwaemu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}

.cwaemu-header > .maincontent-header {
  background-image: url('../assets/main layout/header.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 35vw;
}

.cwaemu-header > .login-header {
  display: none;
}

.cwaemu-header > .maincontent-header > .playbutton {
  background-image: url('../assets/main layout/play-button.png');
  width: 38%;
  background-size: cover;
  margin: auto 6% 0 auto;
  display: block;
  float: right;
  position: relative;
  bottom: 14%;
  padding-top: 8.5%;
}

.cwaemu-header > .maincontent-header > .playbutton:hover {
  background-position-y: center;
}

.cwaemu-header > .maincontent-header > .playbutton:focus {
  background-position-y: bottom;
}

.cwaemu-header > .maincontent-header > .homebutton {
  height: 60%;
  width: 32%;
  margin: 6% auto auto 6%;
  display: block;
}

/* Main Body */
.cwa-fitter {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.cwa-fitter > div > img {
  max-width: 100%;
}

.main-container {
  max-width: 925px;
}

.content-header {
  background-image: url('../assets/main layout/content-header.png');
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  font-size: min(2vw, 20px);
  background-position-y: bottom;
  box-sizing: border-box;
  padding-left: min(4vw, 33px);
  display: flex;
  align-items: center;
  height: 7vw;
  max-height: 70px;
}

.content-body {
  background-image: url('../assets/main layout/content-body.png');
  background-position-x: center;
  background-size: contain;
  background-repeat: repeat-y;
  width: 100%;
  min-height: 145px;
}

.content-body > .fitter {
  padding-left: 40px;
  padding-right: 40px;
}

.content-footer {
  background-image: url('../assets/main layout/content-footer.png');
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 7%;
}

.divider {
  height: 4px;
  background-image: url('../assets/div.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 10px 0 10px;
}

/* Footer */
.footer-cwaemu {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: min(2.5vw, 14px);
}

.footer-cwaemu > .container > a {
  color: white;
  text-decoration: none;
}

.footer-cwaemu > p {
  font-size: min(2.25vw, 12px);
}

/* Pop-Up */
.popup {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none;
}

.popup > div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: larger;
  display: table;
  top: 50%;
  transform: translateY(-50%);
}

.popup-header {
  background-image: url('../assets/main layout/Top_popup_fixed_5.svg');
  background-position-x: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 95%;
  margin: 0 auto;
  font-size: min(2vw, 20px);
  background-position-y: bottom;
  box-sizing: border-box;
  padding-left: min(4vw, 33px);
  display: flex;
  align-items: center;
  padding-top: 4%;
}

.popup-content {
  background-image: url('../assets/main layout/Middle_popup_fixed_3.svg');
  background-position-x: center;
  background-size: 100% 100%;
  width: 95%;
  margin: 0 auto;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 0 2.5% 0 5%;
  height: 80%;
}

.popup-content > div {
  padding-right: 2.5%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-content > div::-webkit-scrollbar {
  /*background-color: transparent;*/
  outline-color: aqua;
}

.popup-content > div::-webkit-scrollbar-thumb {
  background: #1ba4b9;
  border-radius: 10px;
  background-position-x: center;
  background-size: 100% 100%;
}

.popup-content > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightblue;
  border-radius: 10px;
}

.popup-footer {
  background-image: url('../assets/main layout/Bottom_popup_fixed_5.svg');
  background-position-x: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 7%;
}

.popup-buttons {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: end;
}

.popup-close {
  color: white;
  text-shadow: 1px 1px 3px black;
  background-color: transparent;
  background-image: url('../Assets/Main Layout/RedButton.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 10px 15px;
}

.popup-close:hover {
  background-image: url('../Assets/Main Layout/RedButton-highlighted.png');
}

.popup-close:focus {
  background-image: url('../Assets/Main Layout/RedButton-pressed.png');
}

.popup-confirm {
  text-shadow: 1px 1px 3px black;
  color: white;
  background-color: transparent;
  border-image: url('../Assets/Main Layout/16.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 10px 15px;
  border-image-slice: 20 20 30 20 fill;
  border-image-width: 15px 15px 15px 15px;
  border-block-style: solid;
}

.popup-confirm:hover {
  border-image: url('../Assets/Main Layout/22.svg');
  border-image-slice: 20 20 30 20 fill;
  border-image-width: 15px 15px 15px 15px;
  border-block-style: solid;
}

.popup-confirm:focus {
  border-image: url('../Assets/Main Layout/26.svg');
  border-image-slice: 20 20 30 20 fill;
  border-image-width: 15px 15px 15px 15px;
  border-block-style: solid;
}

/* Adjust to fit desktop */
@media (min-width: 768px) {
  html {
    font-size: 18px;
    font-family: clonewars;
    color: white;
    background-size: contain;
    background-position-y: 0px;
  }

  .navbar-cwaemu {
    background-image: url('../assets/main layout/navbarbackground.png');
    height: 40px;
    max-width: 1234px;
    margin: auto;
  }

  .navbar-cwaemu > .container {
    width: 74%;
  }

  .navbar-collapse {
    background-image: none;
    background-repeat: repeat-y;
    background-size: contain;
    max-width: none;
    padding: 5px;
  }

  .nav-item:hover {
    background-image: url('../assets/main layout/navitem-hover.png');
    background-size: contain;
  }

  .nav-dropdown {
    position: absolute;
    background-image: url('../assets/main layout/navbar-dropdown.png');
    width: 183px;
    display: none;
    padding: 5px;
    max-height: none;
    text-align: left;
  }

  .nav-item:hover > .nav-dropdown {
    display: block;
  }

  .nav-dropdown > li:hover {
    background-image: url('../assets/main layout/nav-dropdown-hover.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav-dropdown > li {
    background-size: 100% 100%;
    padding-left: 5px;
  }

  .cwaemu-header > .login-header {
    background-image: url('../assets/main layout/header-login.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 254px;
    margin: 0 10px 0 0;
    font-size: 22px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 3% 3% 4%;
    width: 231px;
  }

  .cwaemu-header > .maincontent-header {
    max-width: 694px;
    max-height: 221px;
    width: 656px;
    height: 24.47vw;
  }
}