@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-top: 1rem; /* Add margin-top for the container */
  max-height: 100%;
  width: 925px; /* Maximum width of the container */
  margin: 0 auto; /* Center the container */
  position: relative; /* Ensure positioned elements are relative to this container */
}

.container {
  width: 925px !important;
  margin: 0 auto;
  padding: 1rem;
}

.content-body {
  position: absolute;
  /*top: 758px;
  left: 50%;*/
  width: 925px;
  min-height: 147px;
  z-index: -1;
  background-image: url('/assets/layout/content-body.png');
  background-repeat: repeat-y; /* Repeat the image vertically */ /* Start repeating from the top center */
  background-size: contain; /* Ensure the entire image is visible */
  background-position: top center; /* Position the image at the top center */

}
.main-container {
  max-width: 925px;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 8px;
}

.faq-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #2540a3;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #4370a0;
}

.faq-answer {
  margin-top: 1rem;
  padding: 0rem;
  background-color: #2540a3;
  border-radius: 4px;
}