@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  max-width: 925px;
  margin: 0 auto;
  padding: 1rem;
}

.main-container {
  max-width: 925px;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 8px;
}

.faq-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #2540a3;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #4370a0;
}

.faq-answer {
  margin-top: 1rem;
  padding: 0rem;
  background-color: #2540a3;
  border-radius: 4px;
}