@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container styling */
.container {
  margin-top: 1rem; /* Add margin-top for the container */
  max-height: 100%;
  width: 925px; /* Maximum width of the container */
  margin: 0 auto; /* Center the container */
  position: relative; /* Ensure positioned elements are relative to this container */
}
.container {
  width: 925px;
  margin: 0 auto;
  padding: 1rem;
}

.content-body {
  position: absolute;
  /*top: 758px;
  left: 50%;*/
  width: 925px;
  min-height: 147px;
  z-index: -1;
  background-image: url('/assets/layout/content-body.png');
  background-repeat: repeat-y; /* Repeat the image vertically */ /* Start repeating from the top center */
  background-size: contain; /* Ensure the entire image is visible */
  background-position: top center; /* Position the image at the top center */

}
/* Header styling */
header {
  position: relative;
  padding: 1rem;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* About page specific styling */
.main-container {
  padding: 1rem;
  object-position: top center;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.about-text-box {
  background-color: rgb(38, 0, 176);
  padding: 1rem;
  border-radius: 8px;
}

.about-text {
  margin: 0;
  font-size: 1.5rem;
}


.about-image {
  margin: 2rem 0;
}